#sect-toggle {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

#concerts {
    height: 440px;
    display: none;
}

#home {
    height: 440px;
    display: block;
}

#content, #images{
    height: 750px;
}

#preload {
    display: none;
}

.hide {
    opacity: 0;
}

.toggle {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

