img {
    margin-top: 21px;
}

.pres-copy {
    margin-top: 20px;
    margin-bottom: 20px;
}

#preload {
    display: none;
}

.vertmargin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.desktop-content {
    margin-top: 20px;
}

.concert-item {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#concerts {
    display: none;
    height: 730px;
    overflow-y: scroll;
}
